.tab_cum_rap {
  &.ant-tabs {
    .ant-tabs-nav {
      .ant-tabs-nav-list {
        .ant-tabs-tab {
          padding: 0;
          padding-right: 24px;
        }
      }
    }
  }

  .label_cumrap {
    width: 300px;
  }
}
.tab_cum_rap{
  .ant-tabs-content{
    .ant-tabs-tabpane{
      overflow: auto;
      height: 700px;
      // scrollbar-width: none;
    }
  }
  
}

.ant-tabs-content-left{
  height: 700px;
}

// ant-tabs-content ant-tabs-content-left